{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Cafeteria</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <nav class="mainnav shadow navbar-expand-lg navbar navbar-dark bg-dark fixed-top"
                    style="min-width: 350px">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                            <i class="bi bi-soundwave"></i> Cafeteria
                            <div style="font-size: 13px">Hello Foodie !</div>
                        </a>

                        <div>
                            <div class="input-group ">
                                <input type="text" class="form-control" placeholder="Search"
                                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <span class="bg-black text-white border-0 input-group-text" id="basic-addon2"><i
                                        class="bi bi-search"></i></span>
                            </div>
                        </div>


                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/new">New</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/viewwish"><span><i
                                                class="bi bi-bookmark-heart"></i></span></a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Place
                                    </a>
                                    <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item text-white" href="/catfilter/1">Cafe</a></li>
                                        <li><a class="dropdown-item text-white" href="/catfilter/2">Club</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item text-white" href="/catfilter/3">Restaurant</a></li>
                                    </ul>
                                </li>



                                <!-- <img class="rounded-circle" src="{% static 'images/14.jpg' %}" style="width:40px;height:40px"> -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <span>
                                            <i class="bi bi-person-circle"></i>
                                        </span>
                                        {% if username %}
                                        Hi ,{{username}}!
                                        {% endif %}
                                    </a>
                                    <!-- <ul class="dropdown-menu dropdown-menu-end bg-dark"
                                        aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item text-white" href="#"><i class="bi bi-person"></i>
                                                Profile</a></li>
                                        <li><a class="dropdown-item text-white" href="#"><i class="bi bi-gear"></i>
                                                Settings</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item text-white" href="/logout"><i
                                                    class="bi bi-box-arrow-right"></i>
                                                Logout
                                            </a>
                                        </li>
                                    </ul> -->
                                </li>
                                <li>

                                    <button class="btn-btn bg-info">
                                        <span> <i class="bi bi-box-arrow-right text-dark"></i>
                                            <a href="/logout" class="text-dark" id="logout"> Logout</a>
                                        </span>
                                    </button>
                                </li>


                            </ul>
                        </div>
                    </div>
                </nav>
                <!--end navigation-->


            </div>
        </div>
        <div class="row bg-black">
            <div class="col-md-2 ">
                <i class="text-light mt-5 p-3">Choose according to mood </i>
                <!-- <li class="mt-5 "> -->

                <li class="bg-dark text-light mt-5"> <a class="text-white" href="/catfilter/1"> Cafes</a></li>
                </li>
                <li class="bg-dark text-light mt-4"> <a class="text-white" href="/catfilter/2"> Clubs</a></span></li>
                <li class="bg-dark text-light mt-4"><a class="text-white" href="/catfilter/3">Restaurants</a></li>



            </div>
            <div class="col-md-10 mb-6 mt-5  p-0">
                <div class="card text-bg-dark">
                    <img class="object-fit-scale border " src="{% static 'images/profile.jpeg'%}" class="card-img"
                        alt="..." style="height: auto;width: 100%;">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-light mt-4">The Theobroma</h5>
                        <p class="card-text text-light">Indulging in a cupcake paradise!</p>
                        <!-- <p class="card-text"><small></small></p> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h5 class="cafe-category-title mx-5 pt-4 text-light">New Places To Explore : <small class="float-end"></h5>

            <div class="col-md-12 mt-4">
                <div class="row">
                    {% for i in Cafes %}
                    <div class="col-md-3">
                        <div class="card  bg-dark mt-4 mb-2 p-3" style="width: 100%; height: 90%;">
                            <img src="{{i.image.url}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-light"> {{i.name}}</h5>
                                <p class="card-text text-light"> {{i.detail}}</p>
                                <p class="card-text text-light"> Rating : {{i.rating}}</p>
                                {% if i.category == 1 %}
                                <p class="card-text"> Cafe</p>
                                {% elif i.category == 2 %}
                                <p class="card-text">Club</p>
                                {% elif i.category == 3 %}
                                <p class="card-text"> Restaurant</p>
                                {% endif %}

                                <a href="/detail/{{i.id}}" class="btn btn-info mb-2 p-2 " ;> Check it out :</a>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="row">
            <h3 class="cafe-category-title mx-5 pt-4 text-light">Places For Jain : <small class="float-end"></h3>

            <div class="col-md-12">
                <div class="row">
                    {% for j in Jain %}

                    <div class="col-md-3">
                        <div class="card   bg-dark mt-5 p-3" style="width: 100%; height: 90%;" id="card">
                            <img src="{{j.image.url}}" class="card-img-fluivisitord " alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-light"> {{j.name}}</h5>
                                <p class="card-text text-light"> {{j.detail}}</p>
                                <p class="card-text text-light"> Rating : {{j.rating}}</p>
                                {% if i.category == 1 %}
                                <p class="card-text"> Cafe</p>
                                {% elif i.category == 2 %}
                                <p class="card-text">Club</p>
                                {% elif i.category == 3 %}
                                <p class="card-text"> Restaurant</p>
                                {% endif %}
                                <a href="/jain/{{j.id}}" class="btn btn-info " style="align-items: center;" ;>Check it
                                    out :</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}




                </div>
            </div>
        </div>
        <div class="row">
            <h4 class="cafe-category-title mx-5 pt-4 text-light strong">Based On Your Mood : <small class="float-end">
            </h4>
            <div class="col-md-12">
                <div class="row">
                    <!-- <div class="dessert-card-start"> -->
                    <div class="col-md-4">
                        <div class="card text-bg-dark">
                            <img src="{% static 'images/dessert1.jpg' %}" class="card-img" alt="...">
                            <div class="card-img-overlay">

                                <h3 class="card-title text-light">Desserts :</h3>

                                <!-- <h5 class="card-text text-white">Always save room for dessert.. -->
                                <!-- </h5> -->
                                <!-- <p class="card-text"><small>Last updated 3 mins ago</small></p> -->
                                <h4> <a href="/dessert" class="btn btn-danger" ;>Try It Out :</a> </h4>
                            </div>

                        </div>
                    </div>
                    <!-- </div dessrt card endend > -->

                    <div class="col-md-4">
                        <div class="card text-bg-dark">
                            <img src="{% static 'images/chinese.jpg' %}" class="card-img" alt="...">
                            <div class="card-img-overlay">
                                <h4 class="card-title text-light">Try Something New :</h4>

                                <!-- <h5 class="card-text text-white">"Savoring  every flavor like it's awork of art </h5> -->
                                <!-- <p class="card-text"><small>Last updated 3 mins ago</small></p> -->
                                <a href="/place" class="btn btn-danger">Try It Out :</a>
                            </div>

                        </div>
                    </div>
                    <!-- <div class="dessert-card-start"> -->
                    <div class="col-md-4">
                        <div class="card text-bg-dark">
                            <img src="{% static 'images/club.jpg' %}" class="card-img" alt="...">
                            <div class="card-img-overlay">

                                <h3 class="card-title text-light">Let's Party Tonight :</h3>
                                <h5 class="text-light"><i>Restaurant & Bar</i></h5>

                                <!-- <h5 class="card-text text-white">Always save room for dessert.. -->
                                <!-- </h5> -->
                                <!-- <p class="card-text"><small>Last updated 3 mins ago</small></p> -->
                                <h4> <a href="/club" class="btn btn-danger" ;>Try It Out :</a> </h4>
                            </div>

                        </div>
                    </div>
                    <!-- </div dessrt card endend > -->
                </div>
            </div>
        </div>


    </div>
    <script>
        document.getElementById("logout").onclick=function(){
            console.log(alert("Are you really want to logout ?"))
        }
    </script>
 <script src="{% static 'js/bootstrap.min.js' %}"></script>
 <script src="{% static 'js/popper.min.js' %}"></script>

    // <script src="./assets/js/bootstrap.min.js"></script> 

</body>

</html>