{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Try Something Different ..</title>
</head>
<body class="bg-black">
    <div class="container">
      <div class="container">
        <div class="row">
            <div class="col-md-12">


                <nav class="mainnav shadow navbar-expand-lg navbar navbar-dark bg-dark fixed-top"
                    style="min-width: 350px">
                    <div class="container-fluid">
                        <a class="navbar-brand text-light" href="#">
                            <i class="bi bi-soundwave text-light"></i> Cafeteria
                            <div style="font-size: 13px">Hello Foodie !</div>
                        </a>

                        <div>
                            <div class="input-group ">
                                <input type="text" class="form-control" placeholder="Search"
                                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <span class="bg-black text-white border-0 input-group-text" id="basic-addon2"><i
                                        class="bi bi-search"></i></span>
                            </div>
                        </div>


                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active text-light" aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item text-light">
                                    <a class="nav-link text-light" href="/catfilterp/1">Cafes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="/catfilterp/2">Clubs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="/catfilterp/3">Restaurants</a>
                                </li>
                                <!-- <li class="nav-item">
                                <a class="nav-link" href="#">Discover</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Trending</a>
                            </li> -->
                                <!-- <li class="nav-item">
                                    <a class="nav-link" href="/new">New</a>
                                </li>  -->
                                <li class="nav-item text-light">
                                    <a class="nav-link" href="/viewwish"><span><i class="bi bi-bookmark-heart text-light"></i></span></a>
                                </li>


                                
                            </ul>
                        </div>
                    </div>
                </nav>
                <!--end navigation-->
        <!-- <div class="row"> -->
            <div class="row row-cols-1 row-cols-md-2 g-4 p-5 mt-3">
               {% for p in Place %}
                <div class="col-md-4">
                  <div class="card bg-dark" style="height: 100%; width: 100%;" data-aos="zoom-in"  data-aos-duration="1000"
                  data-aos-easing="ease-in-out"
                  data-aos-mirror="true">
                    <img src="{{p.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body ">
                      <h5 class="card-title text-light">{{p.name}}</h5>
                      <p class="card-title text-white">{{p.detail}}</p>
                      <p class="card-text text-light"> Outlets : {{p.place}}</p>
                      <p class="card-text text-light"> <span><i class="bi bi-geo-alt-fill"></i></span> {{p.address}}</p>
                      <p class="card-text text-light"> Rating :{{p.rating}}</p>
                      <p class="card-text"> <span><i class="bi bi-phone"></i></span> {{p.contact}}</p>
                      {% if  p.category == 1 %}
                      <p class="card-text"> Cafe</p>
                      {% elif p.category == 2 %}
                      <p class="card-text">Club</p>
                      {% elif p.category == 3 %}
                      <p class="card-text"> Restaurant</p>
                      {% endif %}
                    <a href="/" class="btn btn-success" > Add to wishlish...</a>
                    <a href="/reservation" class="btn btn-danger"> Reservation</a>
                    </div>
                  </div>
                </div>
                {% endfor %}
                
               
        <!-- </div> -->
    </div>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>