{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Wishlist</title>
</head>

<body class="bg-black">

    <div class="container">

        <div class="row">
            <div class="col-md-12">


                <nav class="mainnav shadow navbar-expand-lg navbar navbar-dark bg-dark fixed-top"
                    style="min-width: 350px">
                    <div class="container-fluid">
                        <a class="navbar-brand text-light" href="#">
                            <i class="bi bi-soundwave"></i> Cafeteria
                            <div style="font-size: 13px">Hello Foodie !</div>
                        </a>

                        <div>
                            <div class="input-group ">
                                <input type="text" class="form-control" placeholder="Search"
                                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <span class="bg-black text-white border-0 input-group-text" id="basic-addon2"><i
                                        class="bi bi-search"></i></span>
                            </div>
                        </div>


                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active text-light" aria-current="page" href="/">Home</a>
                                </li>
                                <!-- <li class="nav-item">
                                <a class="nav-link" href="#">Discover</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Trending</a>
                            </li> -->
                                <li class="nav-item">
                                    <a class="nav-link text-white" style="font-size: larger;" >Visit Your Favourite Spot :</a>
                                </li>
                                


                        

                               
                            </ul>
                        </div>
                    </div>
                </nav>
                <!--end navigation-->
                <!-- <div class="row"> -->


               
                <div class="container">
                   
                    <div class="row mt-4">
                        <div class="col-md-12 mt-5 ">
                            <h2 class="text-light">Visit Your Favourite Spot !</h2>
                            <div class="card mb-3 bg-dark  p-3" style="max-width: 100%;">
                                <div class="row g-0">
                                    {% for c in Cafes %}
                                    <div class="col-md-4 p-3">
                                        <img src="{{c.cid.image.url}}" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h5 class="card-title text-light">{{c.cid.name}}</h5>
                                            <p class="card-text text-light"> <strong>Location: {{c.cid.address}}</p>
                                            </strong>
                                            <p class="card-text text-light"><strong>Contact: {{c.cid.contact}}</strong>
                                            </p>
                                            <p class="text-light card-text"><strong> Outlets :{{c.cid.place}}</strong>
                                            </p>
                                            <p class="text-light"><strong>Ratings :{{c.cid.rating}}</strong></p>
                                            <a href="/reservation"><button class="btn btn-success">Make Reservation</button></a>
                                            <a href="/remove"> <button class="btn btn-danger"> Remove From Wishlish </button></a>

                                        </div>
                                     </div>
                                      {% endfor %}
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
        </div>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>